!!! 5
%html.no-js{:lang => "en"}
	
	%head
		%title {{ site.tagline }} - {{ site.company }}
		
		{{> head }}
		

	%body
		.container

			{{> header }}

			{{> chat_boter text="Hej!" }}

			{{> convo }}

			{{> footer }}

			{{> scripts }}
