!!! 5
%html.no-js{:lang => "en"}
	
	%head
		%title {{ site.company }} | {{ site.tagline }}
		
		{{> head }}
		

	%body.page-home

		{{> header }}

		{{> chat_boter text="Hej!" }}

		{{> footer }}

		{{> scripts }}
