.row
  .column.convo
    .spinnerblock
    .chatblock.bot

      .bubble
        Pozdravljen, Boter tukaj.
        %br/
        Lepo, da si se oglasil!

    .chatblock.user
      .bubble
        Zdravo Boter! Lepo da se končno spoznava.
        %br/
        Slišim, da se ukvarjaš z nečim zelo zanimivim...

    .chatblock.bot
      .bubble
        Res je! Vsak dan ustvarjam in treniram svoje super bote, ki preko pogovornih aplikacij vzpostavljajo stik med uporabnikom in podjetji. Tako kot to počneva sedaj midva.
      .bubble
        {{> svg-1 }}

      .bubble
        Te zanima kako delujejo?

    .chatblock.user
      .bubble
        Seveda, povej mi več!

    .chatblock.bot
      .bubble
        Chatboti so digitalni asistenti, ki s pomočjo umetne inteligence ljudem pomagajo najti ustrezne odgovore na njihova vprašanja.

      .bubble
        {{> svg-2 }}

      .bubble
        Naloge kot so naročanje, rezervacije, iskanje informacij… lahko v celoti opravi chatbot in to direktno preko FB klepeta.

    .chatblock.user
      .bubble
        Wow, to uporabniku res prihrani veliko časa.
        %br/
        Kako pa to koristi mojemu podjetju?

    .chatblock.bot
      .bubble
        Boti delujejo 24/7, kar pomeni, da tvoje podjetje nikoli zares ne spi. V delčku sekunde obdelajo ogromno količino informacij, pri tem pa se le redko zmotijo.

      .bubble
        Zmožni so komunicirati z večimi uporabniki hkrati, vsi pogovori pa so skrbno shranjeni v njihovem spominu.

      .bubble
        {{> svg-3 }}

      .bubble.with-link
        O prednostih in delovanju mojih botov sem se razpisal tudi na mojem blogu...

      .link
        %a{:href => "http://boter.chat/blog/vse-kar-morate-vedeti-o-chatbotih"}
          %i Preberi:
          „Vse kar morate vedeti o chatbotih“

    .chatblock.user{data: {delay: '1'}}
      .bubble
        Mi lahko pokažeš kako tvoji boti delujejo v praksi?

    .chatblock.bot
      .bubble
        Seveda!

      .bubble.with-linklist
        Klikni na enega izmed spodnjih linkov in preizkusi različne bote, ki se uvajajo pod mojim nadzorom.

      %ul.linklist
        %li
          %a{:href => ""}
            %div
              %img{:src => "/assets/media/foodie.svg"}>/
              Foodie
              %br/
              %i
                Naročanje
                %br/
                hrane
        %li
          %a{:href => ""}
            %div
              %img{:src => "/assets/media/gizzmo.svg"}>/
              Mr.Gizzmo
              %br/
              %i
                Spletna
                %br/
                trgovina
        %li
          %a{:href => ""}
            %div
              %img{:src => "/assets/media/troljo.svg"}>/
              Troljo
              %br/
              %i
                Prihodi
                %br/
                avtobusov

    .chatblock.user{data: {delay: '2'}}
      .bubble
        Zelo zanimivo!
        %br/
        Lahko takega bota naredim tudi sam?

    .chatblock.bot
      .bubble.with-link
        Enostavnega chatbota lahko preprosto izdelaš tudi sam. Pravzaprav ti lahko pri tem brezplačno pomagam na mojem blogu.

      .link
        %a{:href => "http://boter.chat/blog/chatbot-s-katerim-bodo-uporabniki-klepetali"}
          %i Preberi:
          „Chatbot s katerim bodo uporabniki klepetali“

    .chatblock.user{data: {delay: '1'}}
      .bubble
        Zakaj pa potem pravzaprav potrebujem Botra?

    .chatblock.bot
      .bubble
        Na kratko, moji boti imajo poleg odličnega reševanja težav in izvajanja nalog možnost razviti tudi svojo osebnost.

    .chatblock.user
      .bubble
        To pomeni, da lahko način komunikacije
        %br/
        popolnoma prilagodim svojemu podjetju?

    .chatblock.bot
      .bubble
        Tako je! Z mojo pomočjo botu določiva značilni ton komunikacije ter ga seznaniva s specifičnimi lastnostmi tvojega podjetja.
      .bubble
        Naše bote učimo slovenščine, zato poleg tehničnih nalog znajo tudi poklepetati.

      .bubble
        {{> svg-4 }}

    .chatblock.user{data: {delay: '2'}}
      .bubble
        Boter, ali se zgodi da uporabnik na bota pozabi,
        %br/
        ko od njega prejme željeno informacijo?

    .chatblock.bot
      .bubble
        Brez skrbi, Boter spremlja vse.

      .bubble
        Glede na informacije, ki jih boti prejmejo od pogovora z uporabnikom, jih v prihodnosti lahko seznanjaš z novo ponudbo oz. sporočili, ki bi jih lahko zanimale.

      .bubble
        {{> svg-5 }}

      .bubble
        Pri tem ti bom v pomoč s svojimi izkušnjami pri kreiranju potisnih sporočil, promocij in akcij.

    .chatblock.user
      .bubble
        Pa bojo boti uporabni tudi v prihodnje?

    .chatblock.bot
      .bubble
        Uporabniki svojemu inboxu namenjajo veliko več pozornosti kot aplikacijam, zato je bot vedno najbližje uporabniku.
      .bubble
        Razvoj umetne inteligence bo bote ustvarjal vedno bolj človeške, tovrsten način komunikacije pa bo postal standard za iskanje informacij in komuniciranje z uporabniki.

    .chatblock.user
      .bubble
        Hvala za pogovor Boter.
        %br/
        Mislim, da je čas, da si tudi sam omislim bota!

    .chatblock.bot
      .bubble.with-link
        Me veseli! Spodaj mi lahko pustiš svojo telefonsko stevilko ali email naslov in te obvestim, ko se odprejo nova mesta. Lep pozdrav!

    #inputblock.immediate
      %input.message>/
      %a{href: '#'} Pošlji
      .error
        &nbsp;
