.row
  .column
    .chatblock.bot
      .spinner
        .bounce1
        .bounce2
        .bounce3
      .spacer
      %div
        Pozdravljen, Boter tukaj.
        %br/
        Lepo, da si se oglasil!
      .spacer
    .chatblock.user
      %div
        Zdravo Boter! Lepo da se končno spoznava.
        %br/
        Slišim, da se ukvarjaš z nečim zelo zanimivim...
      .spacer
    .chatblock.bot
      %div
        Res je! Vsak dan ustvarjam in treniram svoje super bote, ki preko pogovornih aplikacij vzpostavljajo stik med uporabnikom in podjetji. Tako kot to počneva sedaj midva.
      %div
        %img{:src => "/assets/media/boter-icon-1.svg"}/
      .spacer
      %div
        Te zanima, kako delujejo?
      .spacer
    .chatblock.user
      %div
        Seveda, povej mi več!
      .spacer
    .chatblock.bot
      %div
        Chatboti so digitalni asistenti, ki s pomočjo umetne inteligence ljudem pomagajo najti ustrezne odgovore na njihova vprašanja.
      .spacer
      %div
        %img{:src => "/assets/media/boter-icon-2.svg"}/
      .spacer
      %div
        Naloge kot so naročanje, rezervacije, iskanje informacij… lahko v celoti opravi chatbot in to direktno preko FB klepeta.
      .spacer
    .chatblock.user
      %div
        Wow, to uporabniku res prihrani veliko časa.
        %br/
        Kako pa to koristi mojemu podjetju?
      .spacer
    .chatblock.bot
      %div
        Boti delujejo 24/7, kar pomeni, da tvoje podjetje nikoli zares ne spi. V delčku sekunde obdelajo ogromno količino informacij, pri tem pa se le redko zmotijo.
      .spacer
      %div
        Zmožni so komunicirati z večimi uporabniki hkrati, vsi pogovori pa so skrbno shranjeni v njihovem spominu.
      .spacer
      %div
        %img{:src => "/assets/media/boter-icon-3.svg"}/
      .spacer
      %div
        O prednostih in delovanju mojih botov sem se razpisal tudi na mojem blogu...
      .spacer
      #link
        %a{:href => ""} Preberi več na blogu
      .spacer
    .chatblock.user
      %div
        Mi lahko pokažeš kako tvoji boti delujejo v praksi?
      .spacer
    .chatblock.bot
      %div
        Seveda!
      .spacer
      %div
        Klikni na enega izmed spodnjih linkov in preizkusi različne bote, ki se uvajajo pod mojim nadzorom.
      .spacer
      %ul#linklist
        %li
          %a{:href => ""}
            %img{:src => "/assets/media/boter-icon-4.svg"}>/
            Foodie
            %br/
            %i
              food
              %br/
              ordering
        %li
          %a{:href => ""}
            %img{:src => "/assets/media/boter-icon-5.svg"}>/
            Mr. Gizzmo
            %br/
            %i
              spletna
              %br/
              trgovina
        %li
          %a{:href => ""}
            %img{:src => "/assets/media/boter-icon-6.svg"}>/
            Troljo
            %br/
            %i Napovedi LPP avtobusov
      .spacer
    .chatblock.user
      %div
        Zelo zanimivo!
        %br/
        Lahko takega bota naredim tudi sam?
      .spacer
    .chatblock.bot
      %div
        Enostavnega chatbota lahko preprosto izdelaš tudi sam. Pravzaprav ti lahko pri tem brezplačno pomagam na mojem blogu.
      .spacer
      #link
        %a{:href => ""} Preberi več na blogu
      .spacer
    .chatblock.user
      %div
        Zakaj pa potem pravzaprav potrebujem Botra?
      .spacer
    .chatblock.bot
      %div
        Na kratko, moji boti imajo poleg odličnega reševanja težav in izvajanja nalog možnost razviti tudi svojo osebnost.
      .spacer
    .chatblock.user
      %div
        To pomeni, da lahko način komunikacije
        %br/
        popolnoma prilagodim svojemu podjetju?
      .spacer
    .chatblock.bot
      %div
        Tako je! Z mojo pomočjo botu določiva značilni ton komunikacije ter ga seznaniva s specifičnimi lastnostmi tvojega podjetja.
      %div
        Naše bote učimo slovenščine, zato poleg tehničnih nalog znajo tudi poklepetati.
      .spacer
      %div
        %img{:src => "/assets/media/boter-icon-7.svg"}/
      .spacer
    .chatblock.user
      %div
        Boter, ali se zgodi da uporabnik na bota pozabi,
        %br/
        ko od njega prejme željeno informacijo?
      .spacer
    .chatblock.bot
      %div
        Brez skrbi, Boter spremlja vse.
      .spacer
      %div
        Glede na informacije, ki jih boti prejmejo od pogovora z uporabnikom, jih v prihodnosti lahko seznanjaš z novo ponudbo oz. sporočili, ki bi jih lahko zanimale.
      .spacer
      %div
        %img{:src => "/assets/media/boter-icon-8.svg"}/
      .spacer
      %div
        Pri tem ti bom v pomoč s svojimi izkušnjami pri kreiranju potisnih sporočil, promocij in akcij.
      .spacer
    .chatblock.user
      %div
        Pa bojo boti uporabni tudi v prihodnje?
      .spacer
    .chatblock.bot
      %div
        Uporabniki svojemu inboxu namenjajo veliko več pozornosti kot aplikacijam, zato je bot vedno najbližje uporabniku.
      %div
        Razvoj umetne inteligence bo bote ustvarjal vedno bolj človeške, tovrsten način komunikacije pa bo postal standard za iskanje informacij in komuniciranje z uporabniki.
      .spacer
    .chatblock.user
      %div
        Hvala za pogovor Boter.
        %br/
        Mislim, da je čas, da si tudi sam omislim bota!
      .spacer
    .chatblock.bot
      %div
        Me veseli! Trenutno so vsi boti zasedni, lahko pa mi spodaj pustiš svoj kontakt in te obvestim, ko se odprejo nova mesta. Lep pozdrav!
      .spacer
      %div
        %input/
      .seen
        Seen at 17.29
    .spacer
