.footer
	.row
		.column.small-12.large-6
			%h3 Pri svojem delu uporabljam:
			%a{:href => "https://api.ai", :target => "_blank"} Api.ai
			%a{:href => "https://chatfuel.com", :target => "_blank"} Chatfuel
			%a{:href => "https://wit.ai", :target => "_blank"} Wit.ai
			%a{:href => "https://www.pullstring.com", :target => "_blank"} Pullstring
			%a{:href => "https://www.motion.ai", :target => "_blank"} Motion.ai

		.column.small-12.large-6
			%h3 Moji boti lahko živijo na:
			%a{:href => "https://slack.com", :target => "_blank"} Slack
			%a{:href => "https://www.messenger.com/", :target => "_blank"} Facebook Messenger
			%a{:href => "https://www.skype.com/", :target => "_blank"} Skype

			.copyright
				%span (c)2017
				%a{:href => "https://wave.si", :target => "_blank"}
					%img{:src => "/assets/media/logo-wave.svg"}>/
				%a{:href => "https://people.ooo", :target => "_blank"}
					%img{:src => "/assets/media/logo-people.svg"}>/
