.footer
	.row
		.column.small-12.medium-6
			%h3 Pri svojem delu uporabljam:
			%a Api.ai
			%a Chatfuel
			%a Wit.ai
			%a Pullstring
			%a Motion.ai

		.column.small-12.medium-6
			%h3 Moji boti lahko živijo na:
			%a Slack
			%a FB Messenger
			%a Skype
			%span (c)2017
