%meta{:charset => "utf-8"}
%link{:href => "/assets/css/app.min.css?v=1", :rel => "stylesheet"}
%link{:href => "https://fonts.googleapis.com/css?family=Space+Mono:400i,700&subset=latin-ext", :rel => "stylesheet"}/
%link{:href => "/assets/favicon.png", :rel => "shortcut icon", :type => "image/icon"}/
%meta{:content => "IE=Edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
%meta{:content => "no", "http-equiv" => "imagetoolbar"}/
%meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
%meta{:content => "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui", :name => "viewport"}/

%meta{:content => "{{ site.tagline }} - {{ site.company }}", :name => "title"}/
%meta{:content => "{{ author }}", :name => "author"}/
%meta{:content => "{{ keywords }}", :name => "keywords"}/
%meta{:content => "{{ description }}", :name => "description"}/
%meta{:content => "{{ site.tagline }} - {{ site.company }}", :property => "og:title"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "{{ description }}", :property => "og:description"}/
%meta{:content => "{{ url }}/assets/media/opengraph.png", :property => "og:image"}/
