%meta{:charset => "utf-8"}
%link{:href => "/assets/css/app.min.css?v=1", :rel => "stylesheet"}
%link{:href => "favicon.png", :rel => "shortcut icon", :type => "image/icon"}/
%meta{:content => "Boter trenira chatbote", :name => "description"}/
%meta{:content => "IE=Edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
%meta{:content => "no", "http-equiv" => "imagetoolbar"}/
%meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
%meta{:content => "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui", :name => "viewport"}/
%meta{:content => "Boter", :property => "og:title"}/
%meta{:content => "Vsak dan ustvarjam in treniram svoje super bote, ki preko pogovornih aplikacij vzpostavljajo stik med uporabnikom in podjetji.", :property => "og:description"}/
%meta{:content => "img/og-troljo.jpg", :property => "og:image"}/
%meta{:content => "wave.si", :name => "author"}/
