@import "animations"

body
  min-width: 320px
  font-weight: 700

.row
  +breakpoint(small2)
    padding:
      left: 1rem
      right: 1rem
  +breakpoint(medium)
    padding:
      left: 5vw
      right: 5vw
  +breakpoint(xlarge)
    padding:
      left: 6rem
      right: 6rem

i
  font-weight: 400




///////////////////////////////////////////////
////////////        HEADER         ////////////
///////////////////////////////////////////////
.logo
  font-size: 2rem
  font-weight: 700
  text-align: center
  margin:
    bottom: $grid-column-gutter / 2
    top: $grid-column-gutter / 2

  +breakpoint(small2)
    margin:
      bottom: $grid-column-gutter * 2
      top: $grid-column-gutter * 2

  a
    color: $secondary-color

  +breakpoint(small2)
    text-align: left

  svg
    vertical-align: middle

    +breakpoint(small only)
      width: 180px
      display: block
      margin: 0 auto
      margin-top: $grid-column-gutter * 2

  +breakpoint(medium)
    margin:
      bottom: $grid-column-gutter * 2
      top: $grid-column-gutter * 2

  +breakpoint(xlarge)
    margin:
      bottom: 3rem
      top: 3rem
    svg
      position: fixed
      margin:
        top: -1rem
        left: -5.75rem


.logo
  #open_mouse
    visibility: hidden
.logo.talking
  #regular_mouse
    visibility: visible
    animation: inverse-blink 300ms step-start 0s infinite
  #open_mouse
    visibility: visible
    animation: blink 300ms step-start 0s infinite

///////////////////////////////////////////////
////////////        FOOTER         ////////////
///////////////////////////////////////////////
.footer
  background: $tertiary-color

  margin-top: 2rem
  padding:
    top: 2rem
    bottom: 2rem
  +breakpoint(medium)
    margin-top: 4rem
    padding:
      top: 4rem
      bottom: 4rem

  .content
    +grid-column(1 of 1)
    padding:
      left: $grid-column-gutter * 2.5
      right: $grid-column-gutter * 2.5

    +breakpoint(medium)
      +grid-column(1 of 2)

    h3
      font-size: 100%
    &:last-child
      h3
        padding-top: 1.33rem
    +breakpoint(medium)
      &:last-child
        h3
          padding-top: 0

    a
      display: block
      color: $white

    .copyright
      padding-top: 1.33rem

      a
        display: inline-block
        +breakpoint(small only)
          &:nth-of-type(1)
            width: 111px
            height: 17px
          &:nth-of-type(2)
            width: 58px
            height: 17px

      span
        vertical-align: middle
      img
        padding:
          left: 0.25rem
          right: 0.25rem
        +breakpoint(small2)
          width: 100%
        +breakpoint(medium)
          padding:
            left: 0.25rem
            right: 0.25rem
        +breakpoint(large)
          padding:
            left: 0.5rem
            right: 0.5rem

  // Footer hax so ooo logo doesn't fall into line 2
  +breakpoint(medium only)
    .row
      overflow: hidden
    .copyright
      width: 55vw
      overflow: hidden



///////////////////////////////////////////////
//////////         ANIMATIONS         /////////
///////////////////////////////////////////////

// Spinner - typing now animation
.spinner
  width: 90px
  text-align: center

  .bounce1, .bounce2, .bounce3
    float: left
    width: 10px
    height: 10px
    padding: 0 !important
    margin: 2px
    border-radius: 100%
    display: inline-block
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both
    animation: sk-bouncedelay 1.4s infinite ease-in-out both

  .bounce1
    -webkit-animation-delay: -0.32s
    animation-delay: -0.32s

  .bounce2
    -webkit-animation-delay: -0.16s
    animation-delay: -0.16s

.spinner.bot
  .bounce1, .bounce2, .bounce3
    background-color: white

.spinner.user
  .bounce1, .bounce2, .bounce3
    background-color: $primary-color


////////////////////////////
//// SVG ILLUSTRATIONS  ////
////////////////////////////

// All illustrated characters and their shadows/limbs
.shown
  & #modelcek-1
    animation: modelcek-1 3000ms cubic-bezier(0.5, 0, 0.5, 1) alternate
    animation-iteration-count: 6
    animation-fill-mode: forwards
  & #modelcek-2
    animation: modelcek-2 3000ms cubic-bezier(0.5, 0, 0.5, 1) alternate
    animation-iteration-count: 6
    animation-fill-mode: forwards
    animation-delay: 200ms
  & #modelcek-3
    animation: modelcek-3 3000ms cubic-bezier(0.5, 0, 0.5, 1) alternate
    animation-iteration-count: 6
    animation-fill-mode: forwards
  & #modelcek-4
    animation: modelcek-4 3000ms cubic-bezier(0.5, 0, 0.5, 1) alternate
    animation-iteration-count: 6
    animation-fill-mode: forwards
  & #shadow-1, & #shadow-2, & #shadow-3, & #shadow-4
    animation: shadows 3000ms cubic-bezier(0.5, 0, 0.5, 1) alternate
    animation-iteration-count: 6
    animation-fill-mode: forwards
    transform-origin: center center
  & #haend-1
    animation: haend-1 3000ms cubic-bezier(0.6, 0, 0.6, 1) alternate
    animation-iteration-count: 6
    animation-fill-mode: forwards
    transform-origin: left bottom
  & #haend-2
    animation: haend-2 500ms cubic-bezier(0.32, 0.04, 0.57, 1.26) alternate
    animation-iteration-count: 1
    animation-fill-mode: forwards
    animation-delay: 1000ms
    transform: translate3d(258px, 92px, 0px) rotate(90deg)
    transform-origin: left bottom
  & #haend-3
    animation: haend-3 500ms cubic-bezier(0.32, 0.04, 0.57, 1.26) alternate
    animation-iteration-count: 1
    animation-fill-mode: forwards
    transform: translate3d(123px, 180px, 0px) rotate(-80deg)
    transform-origin: right bottom

// Illustrated character eyes
.shown
  & #oko-1, & #oko-2
    animation: oko 2000ms cubic-bezier(0.5, 0, 0.5, 1)
    animation-iteration-count: 4
    animation-fill-mode: forwards
.shown
  & #oko-3, & #oko-4
    animation: oko-2 1500ms linear
    animation-iteration-count: 1
    animation-fill-mode: forwards

// Illustrated shumniki
.shown
  & #shumnik-1, & #shumnik-2, & #shumnik-3
    animation: twirl 3000ms linear infinite both
    animation-iteration-count: 1
    transform-origin: center center
  & #shumnik-1
    animation-delay: 250ms
  & #shumnik-2
    animation-delay: 500ms
  & #shumnik-3
    animation-delay: 750ms

.shown
  & #modelcek-5
    animation: stretch 1000ms linear both
    animation-iteration-count: 1
    animation-fill-mode: forwards
    animation-delay: 1500ms

    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1) translate3d(57px, 31px, 0)






///////////////////////////////////////////////
////////////         CONVO         ////////////
///////////////////////////////////////////////

.column.convo
  +breakpoint(small only)
    padding:
      left: $grid-column-gutter
      right: $grid-column-gutter

.bubble, .link, .linklist, .spinner
  float: left
  clear: both
  visibility: hidden

  svg
    max-width: 100%
    height: 100%

.bubble, .link, .linklist, .spinner, #inputblock input, #inputblock a
  margin: $grid-column-gutter/2 0
  border-radius: $global-radius
  padding: $grid-column-gutter*1.2 $grid-column-gutter*1.5

.chatblock.bot
  .bubble.shown
    visibility: visible
    animation: appearDown 1000ms linear both

.chatblock.user .bubble.shown, #inputblock.shown
  visibility: visible
  animation: appearUp 1000ms linear both

.link
  &.shown
    visibility: visible
    animation: appearDown 1000ms linear both

.linklist
  position: relative
  &.shown
    visibility: visible
    li:nth-of-type(1)
      animation: appearDown 1000ms linear both
      animation-delay: 300ms
    li:nth-of-type(2)
      animation: appearDown 1000ms linear both
      animation-delay: 600ms
    li:nth-of-type(3)
      animation: appearDown 1000ms linear both
      animation-delay: 900ms


  .soon::after
    content: "Soon"
    position: absolute
    font-size: 80%
    font-weight: 700
    text-transform: lowercase
    background: $primary-color
    color: $secondary-color
    border-radius: $global-radius
    padding: 0px 6px 3px 6px
    transition: scale 150ms ease

    bottom: $grid-column-gutter * 2
    right: $grid-column-gutter

    +breakpoint(medium)
      top: $grid-column-gutter
      right: $grid-column-gutter * 1.75
      bottom: auto
    +breakpoint(large)
      top: auto
      bottom: $grid-column-gutter

  .soon:active::after
    transform: scale(1.25)



.spinner
  position: absolute
  transition: opacity 1000ms
  opacity: 0
.spinner.shown
  visibility: visible
  animation: fadein 300ms linear
  opacity: 1
.spinner.hidden
  visibility: visible
  opacity: 0
  animation: fadeout 80ms linear
.link
  background: $secondary-color

.linklist
  +grid-row
  padding: 0
  list-style: none
  width: 90%
  +breakpoint(medium)
    width: calc(75% + #{$grid-column-gutter})
    margin-left: ($grid-column-gutter / -2)
  +breakpoint(large)
    width: calc(66% + #{$grid-column-gutter})


  li
    +grid-column (1 of 1)
    padding:
      left: 0
      right: 0
      bottom: $grid-column-gutter
    &:last-of-type
      padding-bottom: 0

    +breakpoint(medium)
      +grid-column (1 of 3)
      padding-bottom: 0

    a
      border-radius: $global-radius
      background: $secondary-color
      color: $secondary-color
      display: list-item
      text-decoration: none
      color: $primary-color

      div
        padding: $grid-column-gutter

        img
          width: 100%
          margin: 0 0 10px 0

.link a
  color: $primary-color
  text-decoration: none

  &:visited
    color: $primary-color
    text-decoration: none

  &:hover
    text-decoration: underline

.chatblock, #inputblock, .spinnerblock
  display: block
  width: 100%
  clear: both
  position: relative
  padding:
    top: $grid-column-gutter
    bottom: $grid-column-gutter

  img
    width: 80%
    margin: 10% auto
    display: block

.spinnerblock
  padding:
    top: 0
    bottom: 0

.chatblock
  border-bottom: 1px solid transparent

.chatblock.user .bubble.shown:first-child:before
  display: block
  position: absolute
  content: ' '
  width: 0
  height: 0
  border-top: 7px solid transparent
  border-bottom: 7px solid transparent
  border-left: 12px solid white
  right: -11px
  top: 17px

.chatblock.bot .bubble.shown:first-child:before
  display: block
  position: absolute
  content: ' '
  width: 0
  height: 0
  border-top: 7px solid transparent
  border-bottom: 7px solid transparent
  border-right: 12px solid $tertiary-color
  left: -11px
  top: 17px

.user .bubble, .spinner.user
  float: right
  background: white
  color: $primary-color

.bot .bubble, .spinner.bot
  float: left
  background: $tertiary-color
  color: white

.spinner.bot, .spinner.user
  float: none
.spinner.bot
  left: 0
.spinner.user
  right: 0

.bot .bubble, .user .bubble
  max-width: 90%
  +breakpoint(medium)
    max-width: 75%
  +breakpoint(large)
    max-width: 66%

#inputblock
  visibility: hidden
  overflow: hidden
  input, a
    display: block
    line-height: 23px
    border-width: 0
    height: 3.33rem
  input
    float: left
    width: calc(100% - 6rem)
    +breakpoint(small2)
      width: calc(100% - 8rem)
    background: white
    color: $primary-color
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    font-family: 'Space Mono', monospace
    font-weight: bold
  input:focus
    outline: none !important
  a
    float: left
    width: 6rem
    +breakpoint(small2)
      width: 8rem
    color: $primary-color
    background: $secondary-color
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    text-align: center
  .error
    opacity: 1
    transition: opacity 200ms
    padding:
      top: $grid-column-gutter
      bottom: $grid-column-gutter
      left: $grid-column-gutter * 1.5
      font-weight: normal
  .error.valid
    opacity: 0
